@import '~bootstrap/scss/bootstrap';
@import './Header.module.scss';
@import './Footer.module.scss';
@import './Login.module.scss';
:root {
  --shadowDark: #d2cdc8;
  --shadowLight: #e0dcd8;
  --brandColor: #321126;
  --brandColorHover: #411732;
  --background: #f3e4d4;
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
  --bs-navbar-toggler-icon-bg-black: ;
  --scrollBarColor: rgb(171, 110, 110);
  --scrollBarColorHover: rgb(217, 84, 84);
  --backgroundColor: #321126;
  --backgroundColorLight:#6b3758;
  --paralax1: url("/static/2_mountain.png");
  --paralax2: url("/static/2_1_mountain.png");
  --paralax3: url("/static/2_2_mountain.png");
  --paralax4: url("/static/2_3_mountain.png");
  --paralax5: url("/static/2_4_mountain.png");
  --paralax6: url("/static/2_5_mountain.png");
  --paralax7: url("/static/2_6_mountain.png");
  --paralax8: url("/static/2_7_mountain.png");
  --paralax9: url("/static/2_8_mountain.png");
  --gradient1: #FFC39E;
  --gradient2: #EF8D9C;
  --color-1-text: #e4d37c;
  --color-2-text: #321126;
  --color-3-text: #e1d68d;
  --color-4-text: #2c1524;
}

[data-theme='dark'] {
  --shadowDark: #d2cdc8;
  --shadowLight: #e0dcd8;
  --brandColor: #d2cdc8;
  --brandColorHover: #e0dcd8;
  --background: #000712;
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
  --bs-navbar-toggler-icon-bg-black: ;
  --backgroundColor: #001f58;
  --backgroundColorLight:#1e458d; 
  --scrollBarColor: darkgray;
  --scrollBarColorHover: gray;
  --paralax1: url("/static/2_mountain_dark.png");
  --paralax2: url("/static/2_1_mountain_dark.png");
  --paralax3: url("/static/2_2_mountain_dark.png");
  --paralax4: url("/static/2_3_mountain_dark.png");
  --paralax5: url("/static/2_4_mountain_dark.png");
  --paralax6: url("/static/2_5_mountain_dark.png");
  --paralax7: url("/static/2_6_mountain_dark.png");
  --paralax8: url("/static/2_7_mountain_dark.png");
  --paralax9: url("/static/2_8_mountain_dark.png");
  --gradient1: #051443;
  --gradient2: #100d3c;
  --color-1-text: #e9e6d7;
  --color-2-text: #1a114a;
  --color-3-text: #d5d5d0;
  --color-4-text: #1b144b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--background);
  color: var(--textDark);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarColor);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollBarColorHover);
}