.navbar.active{
  @media (max-width: 991px) {
    .navbar-collapse {
      position: fixed;
      top: 55px;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
      background:#242526!important;
      max-width: 320px;
      height: 100vh;
      overflow-y: auto;
    }
  
    .navbar-collapse.collapsing {
      height: 100%;
      -webkit-transition: right 0.5s ease;
      -o-transition: right 0.5s ease;
      -moz-transition: right 0.5s ease;
      transition: right 0.5s ease;
      right: -100%;
    }
  
    .navbar-collapse.show {
      right: 0;
      -webkit-transition: right 0.5s ease-in-out;
      -o-transition: right 0.5s ease-in-out;
      -moz-transition: right 0.5s ease-in-out;
      transition: right 0.5s ease-in-out;
    }
  }
  .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
  }
  
  .navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
  }
    .navbar-toggler {
        border: none;
        outline: none;
      
         &:focus,
         &:active,
         &-icon:focus {
           outline: none;
           box-shadow: none;
         }
    }
    background:#242526!important;
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
.navbar.transparent{
  @media (max-width: 991px) {
    .navbar-collapse {
      position: fixed;
      top: 55px;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
      background:transparent;
      max-width: 320px;
      height: 100vh;
      overflow-y: auto;
    }
  
    .navbar-collapse.collapsing {
      height: 100%;
      -webkit-transition: right 0.1s ease;
      -o-transition: right 0.1s ease;
      -moz-transition: right 0.1s ease;
      transition: right 0.3s ease;
      right: -100%;
    }
  
    .navbar-collapse.show {
      right: 0;
      -webkit-transition: right 0.1s ease-in;
      -o-transition: right 0.1s ease-in;
      -moz-transition: right 0.1s ease-in;
      transition: right 0.1s ease-in;
    }
  }
  .toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #321126;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .navbar-toggler .top-bar{
    margin-top: 0px;
    transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
  }
  
  .navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar{
    margin-top: 20px;
    transform: rotate(0deg);
  }
    .navbar-toggler {
        border: none;
        outline: none;
      
         &:focus,
         &:active,
         &-icon:focus {
           outline: none;
           box-shadow: none;
         }
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 17, 38, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    --bs-navbar-color: var(--brandColor) !important;
    --bs-navbar-hover-color: var(--brandColorHover) !important;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: var(--brandColor)!important;
    --bs-navbar-brand-hover-color: var(--brandColorHover) !important;;
    --bs-navbar-toggler-border-color: var(--brandColor);
    background: transparent !important;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler span{
  margin: 0;
  padding: 0;
}

.middle-bar {
  margin-top: 0px;

}
.navbar{
  padding: 10px;
}

.switch {
  margin-top: 2px;
  margin-right: 5px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}
@media (max-width: 991px) {
.navbar-nav {
  align-items: center !important;
  padding: 5px !important;
}
.nav-link {
  font-size: 24px !important;
  font-weight: 700 !important;
  padding: 20px !important;
}
}

@media (max-width: 991px) {
  .switch {
    margin: 15px !important;
  }
}